<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>我的書櫃</h1>

<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>書名</th>
                <th>作者</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.name}">迷霧之子</td>
                <td th:text="${book.author}">布蘭登山德森</td>
                <td>
                    <a th:href="@{/edit/{id}(id=${book.id})}" 
                       class="btn btn-primary btn-sm">
                        編輯
                    </a>
                    <a th:href="@{/delete/{id}(id=${book.id})}" 
                       class="btn btn-danger btn-sm">
                        刪除
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- 	<table border="1">
		<thead>
			<tr>
				<td>書名</td>
				<td>作者</td>
				<td>功能</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.name}">迷霧之子</td>
				<td th:text="${book.author}">布蘭登山德森</td>
				<td><a th:href="@{delete/{id} (id=${book.id})}">刪除</a><button>刪除</button></td>
			</tr>
		</tbody>
	</table> -->
</body>
</html>